@import "../../theme";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 30px 70px;
  min-height: 0;
  min-width: 0;
  
  @include for-phone-only {
    margin: 30px 20px;
  }
}

.grid {
  column-gap: 50px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 0;
  min-width: 0;
  row-gap: 30px;

  @include for-phone-only {
    column-gap: 10px;
    row-gap: 10px;
  }
}

.controlsContainer {
  grid-area: 1 / 1 / span 2 / span 1;
  min-height: 0;

  @include for-medium-screens {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}

.canvasContainer {
  grid-area: 1 / 2 / span 1 / span 1;
  min-height: 0;
  min-width: 0;

  @include for-phone-only {
    margin-left: 0;
  }
}

.canvasContainer:focus {
  outline: none;
}

.fullScreen {
  background-color: $background-color;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  width: 100%;
}

.text {
  font-size: 20px;
  grid-area: 2 / 2 / span 1 / span 1;
  line-height: 30px;
  min-height: 0;
  overflow: hidden;
  text-align: justify;

  @include for-medium-screens {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  @include for-huge-screens {
    margin-right: 350px;
  }
}