@import "../../theme";

.container {
  display: flex;
  flex-shrink: 0;
  margin: 0px 50px 0px;
  
  @include for-tiny-screens {
    margin: 0px 10px 0px;
  }
}

.upperContainer {
  @extend .container;

  border-bottom: 1px solid $border-color;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;

  @include for-small-screens {
    flex-direction: column;
  }
  
  > div {
    margin: 20px;

    @include for-tiny-screens {
      margin: 10px;
    }
  }
}

.lowerContainer {
  @extend .container;

  align-items: flex-start;
  flex-direction: column;
  padding: 20px 5px;

  @include for-tiny-screens {
    padding: 20px 0px;
  }

}

.cvContainer {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 90px !important;

  @include for-small-screens {
    margin-top: 20px !important;
  }
}

.lowerHeadingContainer {
  padding-left: 15px;

  @include for-tiny-screens {
    padding-left: 10px;
  }
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 15px;

    @include for-tiny-screens {
      margin: 10px;
    }
  }
}
