@import "../../theme";

.container {
  display: flex;
  flex-shrink: 0;
  margin: 0px 50px 0px;
  
  @include for-phone-only {
    margin: 0px 10px 0px;
  }
}

.upper_container {
  @extend .container;

  align-items: flex-start;
  border-bottom: 1px solid $border-color;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  
  > div {
    margin: 20px;

    @include for-phone-only {
      margin: 10px;
    }
  }
}

.lower_container {
  @extend .container;

  flex-direction: column;
  padding: 20px;
}

.cv_container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
