@import "../../theme";

.container {
  display: flex;
  flex-shrink: 0;
  margin: 0px 50px 0px;
  
  @include for-tiny-screens {
    margin: 0px 10px 0px;
  }
}

.upperContainer {
  @extend .container;

  border-bottom: 1px solid $border-color;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;

  @include for-small-screens {
    flex-direction: column;
  }
}

.upperItem {
  margin: 20px;

  @include for-tiny-screens {
    margin: 10px;
  }
}

.cvContainer {
  @extend .upperItem;

  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 90px !important;

  @include for-small-screens {
    margin-top: 20px !important;
  }
}

.lowerContainer {
  @extend .container;

  align-items: flex-start;
  flex-direction: column;
  padding: 20px 5px;

  @include for-tiny-screens {
    padding: 20px 0px;
  }

}

.lowerHeadingContainer {
  padding-left: 15px;

  @include for-tiny-screens {
    padding-left: 10px;
  }
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectCard {
  margin: 15px;

  @include for-tiny-screens {
    margin: 10px;
  }
}

.socialMedia {
  position: absolute;
  right: 20px;
  top: 20px;

  @include for-tiny-screens {
    right: 10px;
    top: 15px;
  }
}
