@import "../../../theme";

.default {
  align-items: center;
  background-color: $control-background;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.switch {
  border-radius: 15px;
  cursor: pointer;
  height: 30px;
  position: relative;
  user-select: none;
  width: 50px;

  @include toggle-shadow;
}

.knub {
  background-color: $background-color;
  border-radius: 15px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.background {
  background-color: $green;
  border-radius: 15px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: right linear 0.15s;

  @include toggle-green-shadow;
}

.backgroundInactive {
  @extend .background;

  right: 20px;
}

.text {
  font-size: 20px;
  margin-right: 10px;
}