@import "../../../theme";

.default {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

  @include for-tiny-screens {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: 1335px) {
    max-width: unset;
  }
}

.finisher {
  margin-top: 20px;
}

a {
  color: #0c0e1b;
}
