@import "../../../../theme";

.default {
  background-color: $control-background;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  padding: 15px;
  width: 250px;
}

.toolBar {
  @include keyCard-shadow;

  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 20px;
  padding: 10px;
}

.toolBar:hover {
  @include keyCard-hover-shadow;
}

.selectionToolBar {
  @extend .toolBar;

  margin-left: 20px;
}

.tool {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 5px;
  width: 20px;

  * {
    fill: gray;
  }
}

.activeTool {
  @extend .tool;

  * {
    fill: black;
  }
}

.tool:active {
  * {
    fill: darkgray;
  }
}