@import "../../../theme/colors.scss";

.default {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  text-align: justify;
}

.finisher {
  margin-top: 20px;
}
