@import "../../../theme/colors.scss";

.default {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  text-align: justify;
}

.heading {
  border-bottom: 1px solid $border-color;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.finisher {
  margin-top: 20px;
}
