@import "../../../theme";

.default {
  align-items: center;
  border-bottom: 1px solid $border_color;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 50px;
  padding: 0px 10px;

  @include for-phone-only {
    margin: 0px 10px;
    padding: 0;
  }
}

.container {
  flex-shrink: 0;
  margin: 10px;
  text-align: left;
}

.name_container {
  @extend .container;

  flex-grow: 1;
  flex-shrink: 0;
  width: 280px;
}

.name_container:hover {
  cursor: pointer;
}

.portrait_container {
  @extend .container;
}
