.default {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
}

.name {
  align-self: start;
  font-size: 18px;
  font-weight: 500;
  min-width: 100px;
}

.progressBar {
  flex-grow: 1;
}

.comment {
  font-style: italic;
  margin-top: 10px;
  text-align: right;
}