.default {
  display: flex;
  flex-direction: column;

  > p {
    font-style: italic;
    margin-top: 10px;
    text-align: right;
  }

  > div {
    align-items: center;
    display: flex;

    > div {
      flex-grow: 1;
    }

    > p {
      align-self: start;
      font-size: 18px;
      font-weight: 500;
      min-width: 100px;
    }
  }
}