@import "../../../theme";

.default {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  
  // Firefox scrollbar
  scrollbar-color: $control-background $background-color;
  scrollbar-width: thin;
  
  user-select: none;
}

// Other Browsers
.scrollableContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: $background-color;
    border-radius: 5px;
    
    @include scroll-shadow;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $control-background;
    border-radius: 5px;
  }
  
  > div {
    margin-bottom: 15px;
  }

  > div:last-child {
    margin-bottom: 0;
  }
}

.control {
  flex-shrink: 0;
  padding: 15px;
  width: 250px;
}

.controlHeadingContainer {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  min-height: 60px;
}

.controlModeContainer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 5px;
}

.icon {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 5px;
  width: 25px;

  * {
    fill: darkgray;
  }
}

.activeIcon {
  @extend .icon;

  * {
    fill: black;
  }
}
