@import "../../../theme/media.scss";

.default {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  @include for-tiny-screens {
    height: 40px;
    top: 5px;
  }
}

.cv {
  @extend .default;

  top: -10px;

  @include for-tiny-screens {
    top: -5px;
  }
}
