$offset: 5px;
$half-offset: math.div($offset, 2);

$blur: 5px;

@mixin shadow {
  box-shadow: $offset $offset $blur #d1d9e6,
    (-$offset) (-$offset) $blur white, -1px -1px 1px white;
}

@mixin hover-shadow {
  box-shadow: $half-offset $half-offset $blur #d1d9e6,
    (-$half-offset) (-$half-offset) $blur white;
}

@mixin active-shadow {
  box-shadow: $half-offset $half-offset $blur #d1d9e6 inset,
    (-$half-offset) (-$half-offset) $blur white inset;
}

@mixin progress-shadow {
  box-shadow: 1px 1px 2px #a1a9b6 inset,
    (-1px) (-1px) 2px #eeeeee inset;
}

@mixin keyCard-shadow {
  box-shadow: $offset $offset $blur #bac1cc,
    (-$offset) (-$offset) $blur #edeff3, -1px -1px 1px white;
}

@mixin keyCard-hover-shadow {
  box-shadow: $half-offset $half-offset $blur #bac1cc,
    (-$half-offset) (-$half-offset) $blur #edeff3;
}

@mixin keyCard-active-shadow {
  box-shadow: $half-offset $half-offset $blur #bac1cc inset,
    (-$half-offset) (-$half-offset) $blur #edeff3 inset;
}

@mixin slider-shadow {
  box-shadow: 3px 3px 3px #aab1bb,
    -3px -3px 3px #e5e8ec, -1px -1px 1px white;
}

@mixin slider-hover-shadow {
  box-shadow: 2px 2px 3px #aab1bb,
    -2px -2px 3px #e5e8ec;
}

@mixin toggle-shadow {
  box-shadow: 1px 1px 2px #a1a9b6 inset,
    (-1px) (-1px) 2px #eeeeee inset;
}

@mixin toggle-green-shadow {
  box-shadow: 2px 2px 2px #688b88 inset,
    (-2px) (-2px) 2px #b7cfcd inset;
}

@mixin scroll-shadow {
  box-shadow: 1px 1px 2px #a1a9b6 inset,
    (-1px) (-1px) 2px white inset;
}
