@import "../../../theme/colors.scss";

.default {
  background-color: $cv_background;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.active {
  @extend .default;

  background-color: $blue;
}

.container {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  @extend .container;

  flex-shrink: 0;
  width: 130px;

  > p {
    font-weight: 600;
    padding-top: 3px;
  }
}

.organization {
  font-size: 20px;
  font-style: italic;
  padding: 5px 0px;
}

.organizationLink {
  @extend .organization;

  color: inherit;
}

.organizationLink:link {
  text-decoration: none;
}

.organizationLink:visited {
  text-decoration: none;
}

.organizationLink:hover {
  text-decoration: underline;
}

.organizationLink:active {
  text-decoration: underline;
}

ul {
  font-size: 18px;
  margin: 0;
  padding-left: 20px;
}

.heading {
  font-size: 22px;
  margin-bottom: 0;
}