@import "../../../theme/media.scss";

.default {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home {
  @extend .default;
  
  margin: 0 auto;
  max-width: 1590px;
}

.thin {
  margin: 0px auto;
  max-width: 1140px;
}

.fullHeight {
  @extend .default;

  height: 100vh;

  @include for-phone-only {
    height: unset;
  }
}