@import "../../../theme";

.default {
  height: 10px;
  position: relative;
}

.bar {
  border-radius: 5px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.background {
  @extend .bar;

  @include progress-shadow;
  width: 100%;
}

.foreground {
  @extend .bar;
  
  background-color: $blue;
  background-image: linear-gradient(to right,  $blue 33%, #7fb4c7 67%, #78a1e4);
}