@import "../../../theme";

.default {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;

  @include for-tiny-screens {
    font-size: 25px;
  }
}

.centered {
  @extend .default;

  text-align: center;
}
