@import "../../../theme";

.default {
  align-items: center;
  background-color: $control-background;
  border-radius: 10px;
  display: flex;
}

.text {
  font-size: 20px;
}

.keys {
  @extend .text;

  font-weight: 700;
}

.action {
  @extend .text;

  padding-left: 10px;
}

.keyCard {
  @include keyCard-shadow;
  
  border-radius: 10px;
  padding: 5px 10px;
}

.keyCard:hover {
  @include keyCard-hover-shadow;
}

.keyCard:active {
  @include keyCard-active-shadow;
}