@import "../../theme/media.scss";

.container {
  margin: 30px 70px 0px;
  position: relative;

  @include for-tiny-screens {
    margin: 20px 20px 0px;
  }
}

.entry {
  margin-bottom: 20px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.socialMedia {
  position: absolute;
  right: 0;
  top: -10px;

  @include for-tiny-screens {
    top: -5px;
  }
}