@import "../../../theme";

.default {
  @include shadow;

  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;

  @include for-phone-only {
    padding: 10px;
  }
}

.default:hover {
  @include hover-shadow;

  cursor: pointer;
}

.default:active {
  @include active-shadow;
}
