@import "../../../theme";

.default {
  @include border;

  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;

  @include for-tiny-screens {
    padding: 10px;
  }
}

.default:hover {
  @include hover-border;

  cursor: pointer;
}

.default:active {
  @include active-border;
}

.soonTag {
  background-color: $blue;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  letter-spacing: 1px;
  padding-top: 50px;
  position: absolute;
  right: -92px;
  text-align: center;
  top: -28px;
  transform: rotate(45deg);
  width: 200px;
  z-index: 30;

  @include for-tiny-screens {
    font-size: 16px;
    height: 25px;
    letter-spacing: unset;
    right: -95px;
    top: -30px;
  }
}
