@import "theme/colors.scss";

html {
  height: 100%;
}

body {
  font-family: "Gothic A1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

main,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
}

input {
  border-radius: 0;
}

#root {
  background-color: $background-color;
  color: $foreground-color;
  height: 100vh;
}
