@import "../../../theme";

$img-size: 150px;
$small-img-size: 100px;

.default {
  height: $img-size;
  width: $img-size;

  @include for-tiny-screens {
    height: $small-img-size;
    width: $small-img-size;
  }

  img {
    background-color: $img-background-color;
    border: 1px solid $foreground-color;
    border-radius: 50%;
    height: $img-size;
    width: $img-size;

    @include for-tiny-screens {
      height: $small-img-size;
      width: $small-img-size;
    }
  }
}

.thin {
  @extend .default;

  height: $small-img-size;
  width: $small-img-size;

  img {
    height: $small-img-size;
    width: $small-img-size;
  }
}
